.registerButtonContainer {
	position: relative;
	margin: 1rem 0;
}

.moreInfoIcon:hover::after {
	content: "Problems Connecting? Click to learn more.";
}
.signOutIcon {
	top: 1rem
}
.signOutIcon:hover::after {
	content: "Click to log out your NEAR wallet."
}

.balance {
	/* border-radius: 0px; */
	cursor: default;
	font-family: var(--heading-font);
	margin: 0;
}
.balance:hover {
	transform: none;
}
.balance:active {
	box-shadow: inset 2px 1px 5px 1px rgba(255, 255, 255, 0.5);
}


@media only screen and (max-width: 480px) {
	.infoIcon:hover::after {
		display: none;
	}
}