.registerButtonContainer {
	position: relative;
	margin: 1rem 0;
}

.moreInfoIcon:hover::after {
	content: "Problems Connecting?";
}
.signOutIcon {
	right: -3rem
}
.signOutIcon.single {
	right: -1.5rem
}
.signOutIcon:hover::after {
	content: "Log out your NEAR wallet."
}

.balance {
	/* border-radius: 0px; */
	cursor: default;
	font-family: var(--heading-font);
	margin: 0;
}
.balance:hover {
	transform: none;
}
.balance:active {
	box-shadow: inset 2px 1px 5px 1px rgba(255, 255, 255, 0.5);
}
.accountButton {
	font-family: var(--heading-font);
	font-weight: 100;
	font-size: 1.0rem;
}
