.registerButtonContainer {
	position: relative;
	margin: 1rem 0;
}

.moreInfoIcon:hover::after {
	content: "Problems Connecting? Click to learn more.";
}
.signOutIcon {
	top: 1rem
}
.signOutIcon:hover::after {
	content: "Click to log out your NEAR wallet."
}


@media only screen and (max-width: 480px) {
	.infoIcon:hover::after {
		display: none;
	}
}