.container {
	margin: 0 auto;
	min-height: 100%;
	max-width: 1440px;
	padding: var(--nav-padding) 8rem 6rem;
	color: var(--body-text-color);
	font-family: var(--body-font);
}

.withScrim::after {
	height: calc(100vh); /*fallback for no vars*/
	/* setting the height with JS var --vh to determine true mobile window heights */
	height: calc((var(--vh, 1vh) * 100));
	content: "";
	width: 100vw;
	background-color: rgba(131, 131, 131, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.starsImageBg {
	position: fixed;
	top: 0;
	left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
	background-color: black;
	z-index: -2;
}
.starsImageBg img {
	opacity: 0;
	filter: blur(4px);
	transition: 1.5s ease-in-out;
}

.imageLoaded img {
	opacity: 1;
	filter: blur(0px);
}

.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
}


@media only screen and (max-width: 1024px) {
	.container {
		padding: var(--nav-padding) 4rem 4rem;
	}
}

@media only screen and (max-width: 768px) {
	.container {
		padding: var(--nav-padding) 2rem 2rem;
	}
}
@media only screen and (max-width: 480px) {
	.container {
		padding: var(--nav-padding) 1rem 1rem;
	}
}
