.wrapper {
	z-index: 100;
	position: fixed;
	left: 0;
	top: 100vh;
	width: 100vw;
	height: 100vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(61, 61, 61, 0.8);
	opacity: 0;
	transition: opacity 0.3s;
}
.wrapper.isOpen {
	top: 0;
	opacity: 1;
}
.body {
	margin-top: 7rem;
	opacity: 0;
	position: relative;
	background: rgb(70, 70, 70);
	border-radius: 1rem;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
	width: 70vw;
	max-width: 1440px;
	max-height: 90vh;
	padding: 3rem 8rem 4rem;
	color: black;
	word-wrap: break-word;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 0.5s;
}
.wrapper.isOpen .body {
	margin-top: 0;
	opacity: 1;
}

.body p {
	line-height: 1.5rem;
}
.cancel {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

@media only screen and (max-width: 1024px) {
	.body {
		width: 80vw;
		padding: 2rem 4rem 3rem;
	}
}

@media only screen and (max-width: 768px) {
	.body {
		width: 90vw;
		padding: 1rem 2rem 1rem;
	}
}
@media only screen and (max-width: 480px) {
	.body {
		padding: 1rem;
	}
	.cancel {
		top: 0.5rem;
		right: 0.5rem
	}
}