/* .artist {
	height: 100%;
	overflow-y: scroll;
} */
.highlight {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 50px 0;
}

.highlight div:first-child {
	justify-self: center;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px
}

@media only screen and (max-width: 768px) {
	.highlight {
		grid-template-columns: 1fr;
	}
}