.gridCell {
	display: grid;
	grid-template-columns: 6rem 2fr 0.8fr;
	gap: 1rem;
	border-bottom: 2px solid rgba(128, 128, 128, 0.8);
	list-style: none;
	font-size: 1.3rem;
}

.gridCell p {
	margin-bottom: 1rem;
}
.gridCell a {
	color: inherit;
}
.gridCell svg {
	filter: hue-rotate(180deg);
}
.gridHeader {
	font-size: 1.5rem;
	font-weight: bold;
	border-bottom: 6px double var(--accent-color);
}

.gridHeader p {
	margin-top: 0;
}

@media only screen and (max-width: 480px) {
	.gridCell {
		font-size: 1rem;
		grid-template-columns: 4rem 2fr 1fr;
	}
	.gridHeader {
		font-size: 1.2rem;
	}
}