.homeContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.homeTitle {
	margin-bottom: 5rem;
	cursor: pointer;
	transition: 0.5s;
}
.homeTitle:hover {
	transform: scale(1.08);
}

.gridImageBg {
	position: absolute;
	bottom: 0;
	left: 0;
  height: 20vw;
  width: 100vw;
  overflow: hidden;
}

.gridImageBg img {
	opacity: 0;
	filter: blur(4px);
	transition: 0.9s ease-in-out;
}

.imageLoaded img {
	opacity: 1;
	filter: blur(0px);
}

.waves {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: blur(0.5px) brightness(0.8);
}
