.homeContainer {
	/* Calc with padding is needed to fit within layout, cant use 100% because layout uses min-height */
	/* height: calc(100vh - 12rem); fallback */
	/* setting the height with JS var --vh to determine true mobile window heights */
	/* height: calc((var(--vh, 1vh) * 100) - (var(--nav-padding) * 2)); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.homeTitle {
	position: relative;
	margin-bottom: 5rem;
	cursor: pointer;
	transition: 0.5s;
	filter: blur(0px);
	--title-width: 50rem;
	--color-width-dif: calc(var(--title-width) / 10);
	--move-amount: 0.8;
}
.homeTitle:hover {
	transform: scale(1.08);
}
.homeTitle:not(.imageLoaded) {
	filter: blur(2px);
	animation: blur-pulse 3s infinite ease-in-out;
}
.titlePlain {
	width: var(--title-width);
	filter: drop-shadow(1px 1px 4px rgba(128, 128, 128, 0.4))
}
.titlePlain.isActive {
	filter:invert(1) drop-shadow( 1px 1px 3px rgba(49, 49, 49, 0.4));
}

.titleColor {
	position: absolute;
	top: calc(var(--color-width-dif) / -2);
	left: calc(var(--color-width-dif) / -2);
	width: calc(var(--title-width) + var(--color-width-dif));
}
.titleColor.imageLoaded {
	animation: wiggle 15s ease-in-out 0s infinite alternate;
}
.titleColor.isActive {
	filter: brightness(0);
	animation: none;
}
.logo {
	position: absolute;
	top: -3rem;
	right: -6rem;
	width: 12rem;
	transform: rotateZ(25deg);
	z-index: -1;
	opacity: 0.6;
	transition: 1.5s ease-in-out;
}
.logo.isActive {
	opacity: 0.7;
	margin-top: -8%;
	margin-right: -6%;
	transform: rotateZ(6deg);
	/* animation: fly 10s ease-in-out 0s infinite alternate; */
}

.gridImageBg {
	position: absolute;
	bottom: 0;
	left: 0;
  height: 20vw;
  width: 100vw;
  overflow: hidden;
}

.gridImageBg img {
	opacity: 0;
	filter: blur(4px);
	transition: 0.9s ease-in-out;
}

.gridImageBg.imageLoaded img {
	opacity: 1;
	filter: blur(0px);
}

.waves {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: blur(0.5px) brightness(0.8);
}

@keyframes blur-pulse {
	0% {
		filter: blur(2px);
	}
	50% {
		filter: blur(14px);
	}
	100% {
		filter: blur(2px);
	}
}

/* @keyframes fly {
	0% {
		transform: rotateZ(25deg) translate(0rem, 0rem);
	}
	20% {
		transform: rotateZ(25deg) translate(calc(var(--move-amount) * 5rem), calc(var(--move-amount) *-5rem)) rotateX(30deg);
	}
	70% {
		transform: rotateZ(-30deg) translate(calc(var(--move-amount) * -50rem), calc(var(--move-amount) * -30rem));
	}
	100% {
		transform:rotateZ(30deg) translate(calc(var(--move-amount) * -40rem), 0rem) rotateY(360deg);
	}
} */

@keyframes wiggle {
	0% {
		margin-top: 0;
		margin-left: 0;
	}
	10% {
		margin-top: 0;
		margin-left: 0;
	}
	20% {
		margin-top: calc(var(--move-amount) * 1.5rem);
		margin-left: calc(var(--move-amount) * 1.5rem);
	}
	30% {
		margin-top: calc(var(--move-amount) * 1.5rem);
		margin-left: calc(var(--move-amount) * -1.5rem);
	}
	40% {
		margin-top: calc(var(--move-amount) * -1.5rem);
		margin-left: calc(var(--move-amount) * 1.5rem);
	}
	50%{
		margin-top: calc(var(--move-amount) * -1.5rem);
		margin-left: calc(var(--move-amount) * -1.5rem);
	}
	60% {
		margin-top: calc(var(--move-amount) * 1.5rem);
		margin-left: calc(var(--move-amount) * -1.5rem);
	}
	70% {
		margin-top: calc(var(--move-amount) * 2rem);
		margin-left: calc(var(--move-amount) * 2rem);
	}
	80% {
		margin-top: calc(var(--move-amount) * 2rem);
		margin-left: calc(var(--move-amount) * -2rem);
	}
	90% {
		margin-top: calc(var(--move-amount) * -2rem);
		margin-left: calc(var(--move-amount) * 2rem);
	}
	100% {
		margin-top: 0;
		margin-left: 0
	} 
}

@media only screen and (max-width: 1024px) {
	.homeTitle {
		--title-width: 35rem;
		--move-amount: 0.6;
	}
}

@media only screen and (max-width: 768px) {
	.homeTitle {
		--title-width: 28rem;
		--move-amount: 0.4;
	}
	.logo {
		top: -3.5rem;
		right: -3rem;
		width: 7rem;
	}
}

@media only screen and (max-width: 480px) {
	.homeTitle {
		--title-width: 18rem;
		--move-amount: 0.2;
	}
	.logo {
		transform: rotateZ(0deg);
		top: -2rem;
		right: calc(50% - 3rem);
		width: 6rem;
	}
}

