html,
body {
  padding: 0;
  margin: 0;
	height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	--nav-padding: 6rem;
	--main-gradient: rgb(0, 200, 255), rgb(222, 0, 255), rgb(255, 0, 62);
	--grey-gradient: rgba(63, 76, 80, 1), rgba(47, 36, 39, 1);
	--body-font: 'Roboto', sans-serif;
	--body-text-color: whitesmoke;
	--heading-font: 'Zen Dots', sans-serif;
	--heading-text-color: whitesmoke;
	--accent-color: skyblue
}
html {
	background-color: black;
}

#__next {
	height: 100%;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}
button {
	cursor: pointer;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
	body {
		--nav-padding: 2rem
	}
}
