/* Global elements */
.titleXl {
	font-size: 6rem;
	text-shadow: 3px 3px 6px grey;
	text-align: center;
	font-family: var(--heading-font);
	color: var(--heading-text-color);
}

.title {
	font-size: 4rem;
	text-shadow: 2px 2px 2px grey;
	text-align: center;
	font-family: var(--heading-font);
	color: var(--heading-text-color);
}

.titleSm {
	font-size: 2rem;
	text-shadow: 1px 1px 1px grey;
	font-family: var(--heading-font);
	color: var(--heading-text-color);
}

.scrim {
	background: linear-gradient(rgba(49, 49, 49, 0.8), rgba(17, 17, 17, 0.8));
	padding: 3rem;
	border-radius: 1rem;
	box-shadow: inset 0 0 4rem 0.5rem rgba(0, 0, 0, 0.8);
}

.primaryButton, .secondaryButton {
	padding: 1rem 1.5rem;

	color: var(--body-text-color);
	font-family: var(--body-font);
	font-size: 1.2rem;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

	border: none;
	border-radius: 1.3rem;

	cursor: pointer;
	transition: 0.3s;
}
.primaryButton:hover, .secondaryButton:hover {
	transform: scale(1.05);
}
.primaryButton:active, .secondaryButton:active {
	box-shadow: inset 2px 1px 5px 1px rgba(73, 73, 73, 0.5);
}
.primaryButton {
	background: linear-gradient(315deg, var(--main-gradient));
	box-shadow: inset 2px 1px 5px 1px rgba(255, 255, 255, 0.5);
}
.secondaryButton {
	background: linear-gradient(315deg, rgb(60, 60, 60), rgb(80, 80, 80));
	box-shadow: inset 2px 1px 5px 1px rgba(167, 167, 167, 0.2);
}

.infoIcon {
	position: absolute;
	top: -0.5rem;
	right: -1.5rem
}
.infoIcon:hover::after {
	z-index: 5;
	position: absolute;
	top: 1.5rem;
	left: 0.5rem;
	width: 9rem;
	background-color: rgba(78, 78, 78, 0.8);
	padding: 0.7rem 0.5rem;
	border-radius: 0.5rem;
	color: var(--body-text-color)
}

/* Helpers */
.noStyle {
	padding: 0;
	background-color: transparent;
	border: none;
	color: inherit;
}
.centerContent {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.infoText {
	text-align: center;
	font-style: italic;
}


@media only screen and (max-width: 480px) {
	.titleXl {
		font-size: 3rem;
	}
	.title {
		font-size: 2rem;
	}
	.titleSm {
		font-size: 1.5rem;
	}
	.scrim {
		padding: 1.2rem;
	}
	.primaryButton, .secondaryButton {
		font-size: 1rem;
	}
	.infoIcon:hover::after {
		display: none;
	}
}